@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn{
    margin-bottom: 30px
}

.space-70{
    height: 70px;
    display: block;
}

.tim-row{
    margin-bottom: 20px;
}

.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}















#example {
    border: 1px dashed #AAA;
    overflow: visible;
    min-height: 50px;
    padding: 2px;
    width: 100%;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    color: grey;
    display: block; /* For Firefox */
}

.commentDiv {
    border: 1px dashed #AAA;
    overflow: visible;
    min-height: 44px;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
}

.comments {
    margin-top: 15px;
    background: rgba(250, 250, 250, 0.83);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

.comments > hr{
    margin: 7px;
}

.realComment {
    padding-top: 7px;
}

.fakeComment{
    cursor:pointer;
    padding: 5px;
}





.loader {
    border: 8px solid #cecaca; /* Light grey */
    border-top: 8px solid #4caf50; /* green */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.bonuzLabel
{
    color: green;
    border: 1px solid green;
    padding: 3px 5px 3px 5px;
    border-radius: 1px;
    font-size: 1em;
    font-weight: 400;
}


.bonuzTime
{
    font-size: 0.8em;
    text-transform: lowercase;
    margin: 10px 0px 0px;
    color: #696969;
}